body {
  font-family: 'AvenirLTStd', 'AvenirLTStd', AvenirLTStd, AvenirLTStd, sans-serif;
}
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'AvenirLTStd', 'HAvenirLTStd', AvenirLTStd, AvenirLTStd, sans-serif;
  font-weight: 300;
}
@font-face {
    font-family: AvenirLTStd;
    src: url("./assets/AvenirLTStd-Medium.otf") format("opentype");
}

@font-face {
    font-family: AvenirLTStd;
    font-weight: bold;
    src: url("./assets/AvenirLTStd-Medium.otf") format("opentype");
}

.header__top {
    padding: 0 3.31126%;
    height: 60px;
    position: relative;
    background-color: #fff;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("./assets/TopBanner-Image-Desktop.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 2rem!important;
  padding-bottom: 2rem;
}


header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}


@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.playlogo {
    background-image:url("./assets/video-play-icon.png");
    background-repeat:no-repeat;
    width:20%;
    height:20%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}
.videoText {
   font-size:1rem;
   position:absolute;
    top:0;
    left:0;
    z-index:1;

}

.card-text h4 {
    color: #5b7289;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 34px;
    margin-bottom: 4px;
    display: block;
    min-width: 0;
    max-width: 100%;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
  background-color:#fde9b8;
  padding:3%;
  border:none;
}


@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.call-to-action {
  position: relative;
  background-color: #57caca;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom:2rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #57caca;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.button {
    font-family: Avenir-Heavy, sans-serif;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
}

.button--secondary {
    background-color: #5c738a;
    font-family: AvenirLTStd;
    color: #fff;
    margin: 0
}
.button--secondary:hover {
    color: #fff;
    font-family: AvenirLTStd;
    background:#475a6d;
    text-decoration: none;
}
.button--submit{
  font-family: AvenirLTStd;
      width: 13rem;
      border-radius:0;
      height: 2.5rem;
}
.button--discover{
  font-family: AvenirLTStd;
      font-size: 1.2em;
      width: 23rem;
      border-radius:0;
      height: 4rem;
      padding-right:5%;
}
.button--submit:hover{
  font-family: AvenirLTStd;
      width: 13rem;
      border: none;
}
.button--primary {
  font-family: AvenirLTStd;
    background-color: #00c9c9;
    color: #000;
     margin: 0;
}
.button--primary:hover {
  font-family: AvenirLTStd;
    background-color: #00c9c9;
    color: #000;
      text-decoration: none;
    }

.header_action {
        width: 25%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

.header__action-button {
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    padding: 0 20px;
    margin-top: 0;
    font-family: AvenirLTStd;
}

.device-bar {
    display: flex;
    justify-content: space-evenly;
}
img.bar {
    height: 2.5em;
}

.gutters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

}
.call-to-action {
    margin-top: 5%;
    position: relative;
    background-color: #343a40;
    background: url(../img/bg-masthead.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom:2rem;
}

.call-to-action h2{
    font-size: 1.5rem;
    text-transform:uppercase;

}
.featured-video {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;

}

  input.form-control.form-control-lg {
    border-radius: 0;
    height: 2.5rem;
}

video#video {
  max-height: 450px;
  width: 100%;
  margin-bottom: 50px;
  overflow: hidden;
}


  .meet-teachers .container{
    padding-top: 5%;
  }

  .title{
    text-transform: uppercase;

  }

#featured {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 5%;
  }


footer.footer {
  background-color:green;
  padding-top: 4rem;
  padding-bottom: 4rem;
}


.row.teachers {
    justify-content: center;
}

.row.secondrow {
    display: flex;
    justify-content: center;
  }



.teacher {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #000000;
  text-align: center;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.teacher * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.teacher img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
.teacher .play {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
      transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.teacher a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
.teacher.blue {
  background-color: #2472a4;
}
.teacher.blue .play {
  color: #20638f;
}
.teacher.red {
  background-color: #ab3326;
}
.teacher.red .play {
  color: #962d22;
}
.teacher.yellow {
  background-color: #e08e0b;
}
.teacher.yellow .play {
  color: #c87f0a;
}
.teacher.green {
  background-color: #229955;
}
.teacher.green .play {
  color: #1e8449;
}
.teacher.orange {
  background-color: #d67118;
}
.teacher.orange .play {
  color: #bf6516;
}
.teacher.navy {
  background-color: #2b3c4e;
}
.teacher.navy .play {
  color: #222f3d;
}
.teacher:hover img,
.teacher.hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.teacher:hover .play,
.teacher.hover .play {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/* Demo purposes only */
